html(lang="en" dir="rtl")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title تسجيل الدخول
    link(rel="stylesheet" href="css/foundation.min.css")
    link(rel="stylesheet" href="css/inc/font-awesome.min.css")
    link(rel="stylesheet" href="css/index.css")
  body

  <!-- Start Navigation Bar -->
  <header>
    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">Alnilee.com</li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
          <li>
            <a href="#">محمد</a>
            <ul class="menu vertical">
              <li><a href="#"> الملف الشخصي </a></li>
              <li><a href="#"> زيارة المتجر </a></li>
              <li><a href="#"> تسجيل الخروج </a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <!-- End Top Bar -->
    <!-- Start Nav Bar -->
    <nav>
      <ul class="vertical menu drilldown align-right" data-drilldown data-auto-height="true" data-animate-height="true">
        <li><a href="index.html"> <i class="fa fa-dashboard"></i> لوحة التحكم </a></li>
        <li>
          <a href=""><i class="fa fa-television"></i> واجهة المتجر </a>
          <ul class="menu vertical nested">
            <li><a href="categories.html"><i class="fa fa-arrows"></i> الاقسام </a></li>
            <li><a href="#"><i class="fa fa-arrows"></i> المنتجات </a></li>
            <li><a href="#"><i class="fa fa-arrows"></i> الفلاتر </a></li>
            <li>
              <a href="#"><i class="fa fa-arrows"></i> مواصفات المنتجات </a>
              <ul class="menu vertical nested">
                <li><a href="#"> <i class="fa fa-arrows"></i> انواع المواصفات </a></li>
                <li><a href="#"> <i class="fa fa-arrows"></i> مواصفات المنتج </a></li>
              </ul>
            </li>
            <li><a href="#"> <i class="fa fa-arrows"></i> خيارات المنتج </a></li>
            <li><a href="#"> <i class="fa fa-arrows"></i> التقييمات </a></li>
            <li><a href="#"> <i class="fa fa-arrows"></i> معلومات الصلاحيات </a></li>
          </ul>
        </li>
        <li>
          <a href="#"> <i class="fa fa-puzzle-piece"></i> اضافات مميزة </a>
          <ul class="menu vertical nested">
            <li><a href="#"> <i class="fa fa-arrows"></i> كاروسال الصفحة الرئيسية </a></li>
            <li><a href="#"> <i class="fa fa-arrows"></i> مميزة الصفحة الرئيسية </a></li>
            <li><a href="#"> <i class="fa fa-arrows"></i> مميزة الاقسام </a></li>
            <li><a href="#"> <i class="fa fa-arrows"></i> ؤضيفة مؤاخرا </a></li>
            <li><a href="#"> <i class="fa fa-arrows"></i> بنرات الاقسام </a></li>
            <li><a href="#"> <i class="fa fa-arrows"></i> صفقة اليوم </a></li>
          </ul>
        </li>
        <li>
          <a href="#"> <i class="fa fa-shopping-cart"></i> المبيعات </a>
          <ul class="menu vertical nested">
            <li><a href="#"> <i class="fa fa-arrows"></i> الطلبات </a></li>
            <li><a href="#"> <i class="fa fa-arrows"></i> منتجات راجعة </a></li>
            <li><a href="#"> <i class="fa fa-arrows"></i> قسائم الهدايا </a></li>
          </ul>
        </li>
        <li>
          <a href="#"> <i class="fa fa-users"></i> العملاء </a>
          <ul class="menu vertical nested">
            <li><a href="#"> <i class="fa fa-arrows"></i> العملاء </a></li>
            <li><a href="#"> <i class="fa fa-arrows"></i> مجموعات العملاء </a></li>
            <li><a href="#"> <i class="fa fa-arrows"></i> الموافقة للعملاء </a></li>
          </ul>
        </li>
        <li>
          <a href="#"> <i class="fa fa-share-alt"></i> حملات التسويق </a>
          <ul class="menu vertical nested">
            <li><a href="#"> <i class="fa fa-arrows"></i> المسوقين </a></li>
            <li><a href="#"> <i class="fa fa-arrows"></i> قسائم التخفيض </a></li>
            <li><a href="#"> <i class="fa fa-arrows"></i> ارسال بريد </a></li>
          </ul>
        </li>
        <li>
          <a href="#"> <i class="fa fa-cog"></i> الاعدادات </a>
          <ul class="menu vertical nested">
            <li><a href="#"> <i class="fa fa-arrows"></i> الضبط </a></li>
            <li>
              <a href="#"> <i class="fa fa-arrows"></i> المدراء </a>
              <ul class="menu vertical nested">
                <li><a href="#"> <i class="fa fa-arrows"></i> المدراء </a></li>
                <li><a href="#"> <i class="fa fa-arrows"></i> مجموعات المدراء </a></li>
              </ul>
            </li>
            <li><a href="#"> <i class="fa fa-arrows"></i> حالة الطلبات </a></li>
            <li>
              <a href="#"> <i class="fa fa-arrows"></i> ارجاع المنتجات </a>
              <ul class="menu vertical nested">
                <li><a href="#"> <i class="fa fa-arrows"></i> حالة الارجاع </a></li>
                <li><a href="#"> <i class="fa fa-arrows"></i> تحرير الارجاع </a></li>
                <li><a href="#"> <i class="fa fa-arrows"></i> اسباب الارجاع </a></li>
              </ul>
            </li>
            <li><a href="#"> <i class="fa fa-arrows"></i> المناطق </a></li>
          </ul>
          <li>
            <a href="#"> <i class="fa fa-file-o"></i> التقارير </a>
            <ul class="menu vertical nested">
              <li>
                <a href="#"> <i class="fa fa-arrows"></i> العملاء </a>
                <ul class="menu vertical nested">
                  <li><a href="#"> <i class="fa fa-arrows"></i> اليومي </a></li>
                  <li><a href="#"> <i class="fa fa-arrows"></i> الاسبوعي </a></li>
                  <li><a href="#"> <i class="fa fa-arrows"></i> الشهري </a></li>
                  <li><a href="#"> <i class="fa fa-arrows"></i> السنوي </a></li>
                </ul>
              </li>
              <li>
                <a href="#"> <i class="fa fa-arrows"></i> المبيعات </a>
                <ul class="menu vertical nested">
                  <li><a href="#"> <i class="fa fa-arrows"></i> اليومي </a></li>
                  <li><a href="#"> <i class="fa fa-arrows"></i> الاسبوعي </a></li>
                  <li><a href="#"> <i class="fa fa-arrows"></i> الشهري </a></li>
                  <li><a href="#"> <i class="fa fa-arrows"></i> السنوي </a></li>
                </ul>
              </li>
              <li>
                <a href="#"> <i class="fa fa-arrows"></i> الشحنات </a>
                <ul class="menu vertical nested">
                  <li><a href="#"> <i class="fa fa-arrows"></i> اليومي </a></li>
                  <li><a href="#"> <i class="fa fa-arrows"></i> الاسبوعي </a></li>
                  <li><a href="#"> <i class="fa fa-arrows"></i> الشهري </a></li>
                  <li><a href="#"> <i class="fa fa-arrows"></i> السنوي </a></li>
                </ul>
              </li>
            </ul>
          </li>
        </li>
        <li>
          <a href="#"> <i class="fa fa-retweet"></i> الارشفة </a>
          <ul class="menu vertical nested">
            <li><a href="#"> <i class="fa fa-arrows"></i> الاعضاء </a></li>
            <li><a href="#"> <i class="fa fa-arrows"></i> الطلبات </a></li>
            <li><a href="#"> <i class="fa fa-arrows"></i> المبيعات </a></li>
          </ul>
        </li>
        <li><a href="#"> <i class="fa fa-bar-chart-o"></i> احصائيات </a></li>
      </ul>
    </nav>
    <!-- End Nav Bar -->
  </header>
  <!-- End Navigation Bar -->

    //- h1.container.text-center: i.fa.fa-lock  تسجيل الدخول
    


    script(src="js/vendor/jquery.js")
    script(src="js/vendor/what-input.js")
    script(src="js/vendor/foundation.js")
    script(src="js/script.js")
